__pycache__
files
quetz.sqlite
/channels/
libblas/
libcblas/
libgfortran/
libgfortran5/
liblapack/
libopenblas/
libstdcxx/
numpy/
openssl/
python_abi/
xtensor/
xtl/
build
dist/
.jupyter_releaser_checkout/

# Build files
*.egg-info

# Local setup
test_quetz
test_quetz_2
test_quetz_3
old_postgres_quetz
postgres_quetz

# Logs
*.log

# IDE
.idea/
.vscode/

.env
.envrc
.venv

# OS
.DS_Store

~/.cache/